.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: @desktop_min;
  width: 80%;
  max-width: @desktop_content;
  margin: 150px 0 0 0;
  background-color: @bg_main_color;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    min-width: @tablet_min;
    max-width: @tablet_max;
    margin: 80px 0 0 0;
    flex-wrap: wrap;
  }

  @media (max-width: @mobile_max) {
    flex-direction: column;
    min-width: @mobile_min;
    width: 100vw;
    max-width: @mobile_max;
    margin: 70px 0 0 0;
  }
}

.footer__section-heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

