.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    min-width: @tablet_min;
    max-width: @tablet_max;
  }

  @media (max-width: @mobile_max) {
    min-width: @mobile_min;
    max-width: @mobile_max;
  }
}

.main__tabs-prices-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 75.2vw;
  background-image: url("../img/bg-main__tabs-prices-wrapper.svg");
  background-repeat: no-repeat;
  background-position: 0 231px;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    min-width: @tablet_min;
    max-width: @tablet_max;
    background-image: none;
  }

  @media (max-width: @mobile_max) {
    min-width: @mobile_min;
    max-width: @mobile_max;
    background-image: none;
  }
}
