.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 99px;
  min-width: 1000px;
  width: 95%;
  max-width: @desktop_content;
  background-color: @bg_main_color;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    min-width: @tablet_min;
    max-width: @tablet_max;
    min-height: 50px;
  }

  @media (max-width: @mobile_max) {
    min-width: @mobile_min;
    max-width: @mobile_max;
    min-height: 50px;
  }

  @media (max-width: @tablet_max) {
    width: 100%;

    &--nojs {
      flex-direction: column;
      min-height: 568px;
    }
  }
}

.main-nav__left-column {
  @media (max-width: @tablet_max) {
    &--nojs {
      display: none;
    }
  }
}

.main-nav__logo svg {
  display: block;
  width: 58px;
  height: 22px;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    width: 52px;
    height: 16px;
    margin: 5px 0 0 17px;
  }

  @media (max-width: @mobile_max) {
    width: 44px;
    height: 17px;
    margin: 0 0 0 16px;
  }
}

.main-nav__right-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 490px;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    min-width: 72px;
  }

  @media (max-width: @mobile_max) {
    min-width: 50px;
  }

  @media (max-width: @tablet_max) {
    &--nojs {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: flex-end;
      width: 100%;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 195px;
  min-height: 17px;
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  box-sizing: content-box;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    display: none;
  }

  @media (max-width: @mobile_max) {
    display: none;
  }

  @media (max-width: @tablet_max) {
    &--nojs {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 82px 0 0 0;
    }
  }
}

.main-nav__item {
  @media (max-width: @tablet_max) {

    &--nojs {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      min-height: 60px;
      margin: 0 0 30px 0;
      background-color: @bg_third_color;

      a {
        padding: 0 0 0 16px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }
}

.main-nav__item a {
  color: @text_main_color;
  text-decoration: none;
}

.main-nav__phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 235px;
  height: 30px;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    display: none;
  }

  @media (max-width: @mobile_max) {
    display: none;
  }
}

.main-nav__phone-img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

.main-nav__phone-number {
  min-width: 202px;
  height: 28px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: @text_main_color;
  text-decoration: none;
  text-align: justify;
}

.main-nav__toggle {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 50px;
  background-color: @bg_toggle_first;
  border: none;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    display: flex;
  }

  @media (max-width: @mobile_max) {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  @media (max-width: @tablet_max) {
    &--nojs {
      background-color: transparent;
    }
  }
}

.main-nav__toggle-line {
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: @bg_third_color;

  @media (max-width: @tablet_max) {
    &--nojs {
      width: 40px;
      height: 1px;
      transform: rotate(45deg);
      background-color: @bg_toggle_second;
      border-radius: 15%;
    }
  }
}

.main-nav__toggle-line::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 25px;
  width: 22px;
  height: 2px;
  background-color: @bg_main_color;

  @media (max-width: @mobile_max) {
    right: 14px;
  }
}

.main-nav__toggle-line--nojs::before {
  @media (max-width: @tablet_max) {
    width: 40px;
    height: 1px;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    background-color: @bg_toggle_second;
    border-radius: 15%;
  }
}


.main-nav__toggle-line::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 25px;
  width: 22px;
  height: 2px;
  background-color: @bg_main_color;

  @media (max-width: @mobile_max) {
    right: 14px;
  }
}

.main-nav__toggle-line--nojs::after {
  @media (max-width: @tablet_max) {
    display: none;
  }
}

.main-nav__phone-img {
  stroke: #141517;
  fill: none;
}

.main-nav__item a {
  &:hover {
    color: @bg_toggle_first;
  }
}

.main-nav__phone:hover {
  .main-nav__phone-number {
    color: @bg_toggle_first;
  }
  .main-nav__phone-img {
    fill: @bg_toggle_first;
  }
}
