.trips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 21vw;
  max-width: 403px;
  min-width: 323px;
  min-height: 195px;
  border-right: 1px solid @border;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    width: 54.16vw;
    max-width: 50%;
    min-height: 177px;
    margin: 0;
    border: none;
  }

  @media (max-width: @mobile_max) {
    align-items: center;
    width: 100%;
    min-width: 250px;
    border: none;
  }
}

.trips__heading {
  width: 265px;
  padding: 0 0 0 0.7vw;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    padding: 0;
  }

  @media (max-width: @mobile_max) {
    width: 100%;
    min-width: 250px;
    padding: 0;
    text-align: center;
  }
}

.trips__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18.6vw;
  min-width: 310px;
  max-width: 358px;
  margin: 0 0 0 0.75vw;
  padding: 0 0 19px 0;
  list-style: none;

  @media (max-width: @tablet_max) and (min-width: @tablet_min) {
    width: 46vw;
    max-width: 360px;
    padding: 0;
    margin: 0;
  }

  @media (max-width: @mobile_max) {
    align-content: space-between;
    flex-wrap: wrap;
    min-width: 252px;
    width: 68vw;
    min-height: 286px;
    margin: 22px 0 0 0;
  }
}

.trips__column {
  @media (max-width: @mobile_max) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23vw;
    min-width: 98px;
    flex-grow: 1;
  }
}

.trips__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-height: 124px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: @mobile_max) {
    align-items: center;
    flex-grow: 1;
    min-width: 98px;
    max-width: 384px;
  }
}

.trips__item {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: @text_second_color;
  letter-spacing: 1px;
}
