.trips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  // width: px;
  width: 21vw;
  min-height: 195px;
  // margin-top: 0px;
  // margin-right: 0px;
  // margin-bottom: 0px;
  // margin-left: 0px;
  // padding-top: 0px;
  // padding-right: 0px;
  // padding-bottom: 0px;
  // padding-left: 0px;
  // margin: 0px 0px 0px 0px;
  // padding: 170px 0 0 0;
  // font-size: px;
  // line-height: px;
  // font-weight: 400;
  // text-align: center;
  // color: @;
  // background-color: @;
  background-color: lightgoldenrodyellow;
  // background-image: url("");
   border-right: 1px solid @border;
  // border-right: 1px solid red;
  // border-radius: 3px;
}

.trips__heading {
  min-width: 13.5vw;
  padding: 0 0 0 0.7vw;
  letter-spacing: 1px;
}

.trips__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  width: 18vw;
  margin: 0 0 0 0.75vw;
  padding: 0 0 19px 0;

  list-style: none;

  //background-color: lightgreen;
  background-color: red;
}

.trips__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  min-height: 124px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #c7ceee;
}

.trips__item {
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   text-align: center;
   color: @text_second_color;
  letter-spacing: 1px;
}
