@font: 'Montserrat', 'Arial', sans-serif;
@desktop_content: 1170px;
@desktop_min: 1024px;
@tablet_max: 1023px;
@tablet_min: 768px;
@mobile_max: 767px;
@mobile_min: 320px;
@bg_main_color: #ffffff;
@bg_third_color: #fbf8f8;
@bg_toggle_first: #fe7865;
@bg_toggle_second: #d0d0d1;
@bg_toggle_third: #F17D4B;
@text_main_color: #141517;
@text_second_color: rgba(20, 21, 23, 0.5);
@text_second_color_70: rgba(20, 21, 23, 0.7);
@text_third_color: #2c2e3f;
@text_third_color_30: rgba(44, 46, 63, 0.3);
@text_third_color_70: rgba(44, 46, 63, 0.7);
@text_fourth_color: #000000;
@text_five_color: #48494D;
@border: #d7d9df;
@shadow_first: rgba(41, 54, 66, 0.1);
@shadow_second: rgba(20, 21, 23, 0.6);
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
